#first-main {
    background-image: url('../images/welcome.png');
    background-size: cover;
}

#first-sub-main-text-primary {
    margin-left: 100px;
}

#first-sub-main-text-secondary {
    margin-left: 100px;
    color: #941b0c;
}

#first-sub-main-button {
    margin-left: 100px;
    border: none;
    background-color: #000000;
    border-radius: 70px;
    color: white;
    text-align: center;
    transition: 0.3s;
    padding: 20px 55px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
}

#first-sub-main-button:hover {
    background-color: #fdcc56;
    box-shadow: 0px 15px 20px rgba(253, 204, 86, 0.4);
    color: #000000;
    transform: translateY(-7px);
}
