.timer {
    border: 1px solid gold;
    border-left: 6px solid gold;
    background-color: #FFFFFF;
    padding: 5px;
}

.timer button {
    border: none;
    background-color: transparent;
}

.card.noMenu {
    height: 450px;
    border: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
}

.card.noMenu:hover {
    transform: none;
}

.noMenu button{
    border: none;
    border-radius: 10px;
    background-color: #7FC954;
    color: #FFFFFF;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 700;
    transition: transform .7s;
}

.noMenu button:hover {
    transform: scale(1.1);
}

.card {
    height: 450px;
    border: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
    transition: transform 1s;
}

.card:hover {
    transform: scale(1.05);
}

.Śniadanie {
    background-image: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)), url('../../images/breakfast.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.śniadanie {
    background-image: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)), url('../../images/2breakfast.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.Obiad {
    background-image: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)), url('../../images/dinner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.Podwieczorek {
    background-image: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)), url('../../images/tea.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.Kolacja {
    background-image: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)), url('../../images/supper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.rounded-category {
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    padding: 4px 7px 4px 7px;
    border-radius: 30px;
    background-color: #000000;
    color: #FFFFFF;
}

.rounded-name {
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    padding: 4px 7px 4px 7px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
}

.meal-name a {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    color: #FFFFFF;
}

ol {
    padding: 0;
}

ol li {
    position: relative;
    display: block;
    padding: .1em .4em 0 1.5em;
    margin: .5em 0;
    background: #FFFFFF;
    text-decoration: none;
    border-radius: 20px;
    transition: .3s ease-out;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
}

ol li:hover {
    background: #E9E4E0;
}

.hidden {
    display: none;
}

.day-button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    outline: inherit;
    letter-spacing: 1px;
}

.date {
    letter-spacing: 1px;
}

.active-day {
    color: #fdc056 !important;
    border-bottom: 2px solid #fdc056;
}

@media (max-width: 767px) {
    .row {
        width: 70% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.owl-prev, .owl-next {
    position: absolute;
    bottom: -18%;
    background-color: transparent !important;
    color: #000000 !important;
}

.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}

.owl-next.disabled, .owl-prev.disabled {
    cursor: not-allowed !important;
}
